{
    "presets": ["es2015", "react"],
    "plugins": [["reflective-bind/babel", { "log": "debug" }], "lodash"],
    "env": {
        "development": {
            "plugins": ["babel-plugin-styled-components"]
        }
    }
}
